apiVersion: v1
kind: Service
metadata:
  labels:
    stack: {{ .Release.Name }}
    app: hasher
  name: {{ .Release.Name }}-hasher
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    stack: {{ .Release.Name }}
    app: hasher
  type: ClusterIP